{% if navbar %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark my_nav">
    <span class="navbar-brand navbar-header mr-4">Sistem</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        {% for navitem in navbar %}
          {% if navitem.top %}
            <a class="dropdown-item" href="{{navitem.link}}">{{navitem.value}}</a>
            {% if navitem.end %}
              </div>
            </li>
            {% endif %}
          {% else %}
            {% if navitem.alt %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{navitem.link}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{navitem.value}}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{navitem.link}}">{{navitem.value}}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
      <div class="nav navbar-nav navbar-right">
         <a href="{{ url_for('logout') }}" class="navbar-brand"><strong>Çıkış Yap</strong></a>
      </div>
    </div>
  </nav>
</header>
{% endif %}
