<div class="form-row">
  {{ form.ad.label(class="col-4 col-form-label text-left") }}
  {{ form.ad(class="form-control-plaintext col-6", value="veritabanından gelecek", readonly="") }}
</div>
<div class="form-row">
  {{ form.soyad.label(class="col-4 col-form-label text-left") }}
  {{ form.soyad(class="form-control-plaintext col-6", value="veritabanından gelecek", readonly="") }}
</div>
<div class="form-row">
  {{ form.email.label(class="col-4 col-form-label text-left") }}
  {{ form.email(class="form-control-plaintext col-6", value="veritabanından gelecek", readonly="") }}
</div>
<div class="form-row">
  {{ form.telefon.label(class="col-4 col-form-label text-left") }}
  {{ form.telefon(class="form-control-plaintext col-6", value="veritabanından gelecek", readonly="") }}
</div>
<div class="form-row">
  {{ form.adres.label(class="col-4 col-form-label text-left") }}
  {% set f = form.adres.process_data("please type content") %}
  {{ form.adres(class="form-control-plaintext col-6", readonly="", style="resize: none" ) }}
</div>
