<table id="dtBasicExample" class="table hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col sortable">Ad</th>
      <th scope="col">Soyad</th>
      <th scope="col">Email</th>
      <th scope="col">İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marasdk</td>
      <td>asd</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" name="button">Profili Görüntüle</button>
        <button type="button" class="btn btn-primary btn-sm" name="button">Randevu Al</button>
      </td>
    </tr>
  </tbody>
</table>
