<div id="profile-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Profil Bilgileri</h4>
      </div>
      <div class="modal-body ml-3 row">
        <div class="col-3">
          Ad:
        </div>
        <div class="modal-icerik col-9"></div>
        <div class="col-3">
          Soyad:
        </div>
        <div class="modal-icerik col-9"></div>
        <div class="col-3">
          Tel:
        </div>
        <div class="modal-icerik col-9"></div>
        <div class="col-3">
          Email:
        </div>
        <div class="modal-icerik col-9"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary randevual-btn" data-dismiss="modal" data-toggle="modal" href="#randevual-modal">Randevu Al</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
