<div id="profile-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Profil Bilgileri</h4>
      </div>
      <div class="modal-body ml-3">
        Adı:
        <div class="modal-icerik">
        </div>
        Soyadı:
        <div class="modal-icerik">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#randevual-modal">Randevu Al</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
