<div id="randevudegerlendir-modal" class="modal fade" role="dialog">
  <form class="form-horizontal" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Randevu Hakkında</h4>
        </div>
        <div class="modal-body ml-3 row">
          <div class="col-3">
            Randevu Yorumu:
          </div>
          <div class="modal-icerik col-9">
            <textarea name="comment" class="form-control" style="resize:none" placeholder="Randevunun nasıl geçtiğini belirtiniz..."></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" id="randevu-id">
          <input type="submit" class="btn btn-primary degerlendir-form-btn" value="Onayla">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        </div>
      </div>
    </div>
  </form>
</div>
