<div id="randevual-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Profil Bilgileri</h4>
      </div>
      <div class="modal-body ml-3">
        Adı:adasd
        <div class="modal-icerik">
        </div>
        Soyadı:
        <div class="modal-icerik">
        </div>
        Tarih:
        <div id='sandbox-container'>
          <input type="text" name="" value="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Randevu Al</button>
      </div>
    </div>
  </div>
</div>
