<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Randevu Sistemi{% if title %} - {{title}}{% endif %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.min.css')}}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class='{{ body }}'>
          {% include 'includes/navbar.html' %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <div class='content'>
            {% block content %}{% endblock %}
          </div>

          <script src="{{url_for('static', filename='scripts/jquery-3.2.1.slim.min.js')}}"></script>
          <script src="{{url_for('static', filename='scripts/popper.min.js')}}"></script>
          <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
</body>
</html>
