{% extends 'layout.html' %}
{% block content %}
<style>
.margin-bottom {
  margin-bottom:10px;
}
</style>
<form class="col-md-5 col-lg-5 mx-auto" method="POST" action="">
  {{ form.hidden_tag() }}
  <h1 class="h3 mb-5 font-weight-small">Öğrenci Öğretim Üyesi Randevu Sistemi</h1>
  <img class="mb-4" src="{{ url_for('static', filename='logo.png') }}" alt="ytu-logo" width="90" height="90">
  <h1 class="h3 mb-10 font-weight-normal margin-bottom">Giriş Yapınız</h1>
  {{ form.username.label(class="sr-only") }}
  {{ form.username(class="form-control margin-bottom", placeholder="Kullanıcı Adı", required="", autofocus="") }}
  {% if form.username.errors %}
  <div class="alert alert-danger" role="alert">
      {% for error in form.username.errors %}
          <span>{{ error  }}</span>
      {% endfor %}
  </div>
  {% endif %}

  {{ form.password.label(class="sr-only") }}
  {{ form.password(class="form-control margin-bottom", placeholder="Şifre", required="") }}
  {% if form.password.errors %}
  <div class="alert alert-danger" role="alert">
      {% for error in form.password.errors %}
          <span>{{ error  }}</span>
      {% endfor %}
  </div>
  {% endif %}

  <div class="checkbox mb-3">
      {{ form.auth.label(class="sr-only", value='sadasd') }}
      {{ form.auth(class="form-control margin-bottom") }}
  </div>
  {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2019</p>
</form>

</div>
{% endblock %}
