{% extends 'layout.html' %}

{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='scripts/scripts.js')}}" defer></script>
<div class="row">
  <div class="col-9 mx-auto text-center">
    <div class="card card-signin my-5 profile-wrapper">
      <div class="card-body">
        <img class="mb-4" src="{{ url_for('static', filename='images/logo.png') }}" alt="ytu-logo" width="90" height="90">
        <h5 class="col-12">Profil Bilgileri</h5>
        <form class="form-horizontal col-12 " method="post">
          {{ form.hidden_tag() }}
          {% if auth == 'ogrenci' %}
          {% include 'includes/ogrenci_profil.html' %}
          {% elif auth == 'ogretmen' %}
            {% include 'includes/ogretmen_profil.html' %}
          {% elif auth == 'yonetici' %}
            {% include 'includes/yonetici_profil.html' %}
          {% endif %}
          <div>
            <input type="button" id='btnDuzenle' class="btn btn-md btn-primary text-uppercase" value="Düzenle" />
            <button id="btnKaydet" style="display:none" class="btn btn-md btn-success text-uppercase" type="submit">Kaydet</button>
            <input type="button" id='btnIptal' style="display:none" class="btn btn-md btn-danger text-uppercase" value="İptal" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
