{% extends 'layout.html' %}

{% block content %}

<h1>Randevular buraya gelecek</h1>
<div id="contenthere">asd</div>
<table id="dtBasicExample" class="table hover display">
  <thead class="thead-light">
    <tr>
      <th scope="col">Öğretmen Adı</th>
      <th scope="col">Randevu Konusu</th>
      <th scope="col">Randevu Tarihi</th>
      <th scope="col">Durumu</th>
      <th scope="col">İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ZCT</td>
      <td>proje</td>
      <td>09.09.2009</td>
      <td>
        <h5>
          <span class="badge badge-success">Aktif Randevu</span>
        </h5>
      </td>
      <td>
        <div class="btn-group">
            <button type="button" class="btn btn-danger btn-sm" name="button">İptal Et</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>ASD</td>
      <td>DENEME</td>
      <td>09.09.2009</td>
      <td>
        <h5>
          <span class="badge badge-primary">Onay Bekleniyor</span>
        </h5>
      </td>
      <td>
        <div class="btn-group">
            <button type="button" class="btn btn-danger btn-sm" name="button">İptal Et</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>Ferkan</td>
      <td>fütürizm</td>
      <td>10.10.2010</td>
      <td>
        <h5>
          <span class="badge badge-warning">Değerlendirilecek</span>
        </h5>
      </td>
      <td>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm classloader" name="button">Değerlendir</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>Göksel</td>
      <td>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </td>
      <td>11.11.2011</td>
      <td>
        <h5>
          <span class="badge badge-secondary">Geçmiş Randevu</span>
        </h5>
      </td>
      <td>
        <div class="btn-group">
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
