{% extends 'layout.html' %}

{% block content %}

<table id="listTable" class="table hover display">
  <thead class="thead-light">
    <tr>
      {% if user.user_type == 'Student' %}
        <th scope="col">Öğretmen Adı</th>
      {% elif user.user_type == 'Teacher' %}
        <th scope="col">Öğrenci Adı</th>
      {% elif user.user_type == 'Yonetici' %}
        <th scope="col">Öğretmen - Öğrenci</th>
      {% endif %}
      <th scope="col">Randevu Konusu</th>
      <th scope="col">Randevu Tarihi</th>
      <th scope="col">Durumu</th>
      <th scope="col">İşlemler</th>
    </tr>
  </thead>
  <tbody>
    {%for randevu in GelecekRandevu%}
    {%if  not randevu.IsItPast%}
    <tr>
      {% if user.user_type == 'Student' %}
        <td>{{randevu.teacherName}}</td>
      {% elif user.user_type == 'Teacher' %}
        <td>{{randevu.studentName}}</td>
      {% endif %}
      <td>{{randevu.Topic}}</td>
      <td>{{randevu.Randevu_date}}</td>
      <td>
        <h5>
          <span class="badge badge-success">Aktif Randevu</span>
        </h5>
      </td>
      <td>
        <div class="btn-group">
          {% if user.user_type == 'Student' %}
            <button type="button" class="btn btn-danger btn-sm iptal-tch-btn" name="{{ randevu.id }}">İptal Et</button>
          {% elif user.user_type == 'Teacher' %}
            <button type="button" class="btn btn-danger btn-sm iptal-tch-btn" name="{{ randevu.id }}">İptal Et</button>
          {% endif %}
        </div>
      </td>
    </tr>
    {%endif%}
    {%endfor%}

    {% for randevu in TalepRandevu %}
    <tr>
      {% if user.user_type == 'Student' %}
        <td>{{randevu.teacherName}}</td>
      {% elif user.user_type == 'Teacher' %}
        <td>{{randevu.studentName}}</td>
      {% endif %}
      <td>{{randevu.Topic}}</td>
      <td>{{randevu.Randevu_date}}</td>
      <td>
        <h5>
          <span class="badge badge-primary">Onay Bekleniyor</span>
        </h5>
      </td>
      <td>
        <div class="btn-group">
          {% if user.user_type == 'Student' %}
            <button type="button" class="btn btn-danger btn-sm iptal-std-btn" name="{{ randevu.id }}">İptal Et</button>
          {% elif user.user_type == 'Teacher' %}
            <button type="button" class="btn btn-danger btn-sm iptal-tch-btn" name="{{ randevu.id }}">İptal Et</button>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}

    {%for randevu in GelecekRandevu%}
    {%if randevu.IsItPast%}
    <tr>
      <td>{{randevu.teacherName}}</td>
      <td>{{randevu.Topic}}</td>
      <td>{{randevu.Randevu_date}}</td>
      <td>
        <h5>
          <span class="badge badge-warning">Değerlendirilecek</span>
        </h5>
      </td>
      <td>
        <div class="btn-group">
          {% if user.user_type == 'Student' %}
            <button type="button" class="btn btn-danger btn-sm survey-btn" name="{{ randevu.id }}">Değerlendir</button>
          {% endif %}
        </div>
      </td>
    </tr>
    {%else%}
    {%endif%}
    {%endfor%}

    {%for randevu in PastRandevu %}
    <tr>
      <td>{{randevu.teacherName}}</td>
      <td>
        <p>{{randevu.Topic}}</p>
      </td>
      <td>{{randevu.Randevu_date}}</td>
      <td>
        <h5>
          <span class="badge badge-secondary">Geçmiş Randevu</span>
        </h5>
      </td>
      <td>
        <div class="btn-group">
        </div>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{% include 'includes/randevu_iptal_modal.html' %}

{% endblock %}
