body{
  background-color: #fefefe !important;
}

.profile-wrapper{
  background-color: #fafafa;
}

.bg-dark{
  background-color: #234c78 !important;
}

.my_btn-primary{
  background-color: #234c78 !important;
  border-color: #1a3e65 !important;
}

.my_btn-primary:hover{
  background-color: #1a3e65 !important;
  border-color: #1a3e65 !important;
}

.my_nav a{
  color: white !important;
  border-radius: 10px;
}

.my_nav a.dropdown-item{
  color: #1a3e65 !important;
  border-radius: 0px;
}

.my_nav a:hover{
  background-color: #1a3e65 !important;
  color: #fff !important;
}

.navbar-brand{
  padding:7px 15px;
}

.form-btn-wrap{
  margin-top: 20px;
}

.form-btn-wrap input, .form-btn-wrap button{
  padding: 7px 70px;
  margin-top: 2px;
}

.profil-form .form-row{
  margin-top: 5px;
}

.modal-error{
  background: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.modal-body{
  padding: 0;
  margin: 0;
}

.modal-body p{
  margin: 15px;
}

.modal-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.thead-light th{
  background-color: #e3e3e3 !important;
}

.dataTables_wrapper{
  top: 15px1;
  padding: 20px 0px 15px 0px;
}

.dataTables_wrapper label{
  margin: 10px;
}

.dataTables_length{
  font-size: 15pt;
}

.btn-primary{
  background-color: #234c78;
  border-color: #173759;
}

.btn-primary:hover{
  background-color: #173759;
}

.btn-success{
  background-color: #09691f;
  border-color: #054113;
}

.btn-success:hover{
  background-color: #054113;
}

.dropdown-menu{
  z-index: 3000 !important;
  margin-top: 0;
}
