body{
  background-color: #fefefe !important;
}
.profile-wrapper{
  background-color: #fafafa;
}
.bg-dark{
  background-color: #458bd5 !important;
}
nav li a{
  color: white !important;
}
nav li a.dropdown-item{
  color: #000 !important;
}
